@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Backgammon</title>

    <meta property="fb:app_id" content="528732163816152" />
    <meta property="og:title" content="8 Point Backgammon Game" />
    <meta property="og:description" content="Click & Play!" />
    <meta property="og:image" content="http://bg.jok.io/Images/preview.png" />

    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    @if (ViewBag.IsMobileApp == true)
    {
        <style>
            #Player1 .music_player,
            #Player1 .jokfm_plugin,
            .player .details,
            #Addins,
            #ExitButton,
            #RightDocOpener,
            #RightDoc {
                display: none !important;
            }
        </style>
    }
    @if (ViewBag.NeedAuthorization == true)
    {
        <style>
            #Game,
            #Loader,
            #RightDoc,
            #RightDocOpener,
            #Info {
                display: none;
            }

            #Login {
                display: block;
            }
        </style>
    }
    <script>
        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            gamemode: '1',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@ViewBag.ExitUrl',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True',
            connectUrl: '@System.Configuration.ConfigurationManager.AppSettings["ServerUrl"]'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=528732163816152";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="Login">
        <img src="http://jok.io/content/images/portal/joklogo2.png" /><br /><br />
        @*<input type="text" placeholder="Nick or Email" /><br />
            <input type="password" placeholder="Password" />
            <div class="login_description">
                Fill credentials and press 'Enter' key

            </div>
            <div class="separator">
                <span>OR</span>
            </div>*@
        <ul class="social_connect">
            <li class="click_navigate">
                <a href="http://jok.io/portal/joinus/facebook?returnUrl=@Request.Url">
                    <img src="http://jok.io/content/images/social/fb.png" />
                    Login using Facebook
                </a>
            </li>
            <li class="click_navigate">
                <a href="http://jok.io/portal/joinus/twitter?returnUrl=@Request.Url">
                    <img src="http://jok.io/content/images/social/twitter.png" />
                    Login using Twitter
                </a>
            </li>
            <li class="click_navigate">
                <a href="http://jok.io/portal/joinus/odnoklasniki?returnUrl=@Request.Url">
                    <img src="http://jok.io/content/images/social/odno.png" />
                    Login using Однокласники
                </a>
            </li>
            <li class="click_navigate">
                <a href="http://jok.io/portal/joinus/vkontaqte?returnUrl=@Request.Url">
                    <img src="http://jok.io/content/images/social/vk.png" />
                    Login using Вконтакте
                </a>
            </li>
            <li class="click_navigate">
                <a href="http://jok.io/portal/joinus/google?returnUrl=@Request.Url">
                    <img src="http://jok.io/content/images/social/google.png" />
                    Login using Google
                </a>
            </li>
        </ul>
    </div>
    <div id="Game">
        <div class="center_title">
            <img src="~/Images/rowena_title.png" />
            <div class="description">8-Point Backgammon Game</div>
        </div>

        <div id="Board">
            <div class="side_container left">
                <div class="items_top">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(8 + 7 - i)" class="stone_collection">
                            <div class="number">@(16 + i + 1)</div>
                            <div class="triangle">
                            </div>
                        </div>
                    }
                </div>
                <div class="items_bottom">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(16 + i)" class="stone_collection">
                            <div class="number">@(8 + 7 - i + 1)</div>
                            <div class="triangle_rotated"></div>
                        </div>
                    }
                </div>
                <div class="dices current">
                    <div class="dice v2 dice1">5</div>
                    <div class="dice v2 dice2">5</div>
                    <div class="dice v2 dice3">5</div>
                </div>
            </div>
            <div class="side_container right">
                <div class="items_top">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(7 - i)" class="stone_collection">
                            <div class="number">@(24 + i + 1)</div>
                            <div class="triangle"></div>
                        </div>
                    }
                    <div class="stone_collection opponent_stones_out">
                    </div>
                </div>
                <div class="items_bottom">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(24 + i)" class="stone_collection">
                            <div class="number">@(7 - i + 1)</div>
                            <div class="triangle_rotated"></div>
                        </div>
                    }
                    <div class="stone_collection player_stones_out">
                    </div>
                </div>
                <div class="dices opponent">
                    <div class="dice v2 dice1">4</div>
                    <div class="dice v2 dice2">7</div>
                    <div class="dice v2 dice3">3</div>
                </div>
                <div class="move_outside">
                    Move out
                </div>
            </div>
            <div class="player_killed_stones">
            </div>
            <div class="opponent_killed_stones">
            </div>
            <div class="stone mouse_drag_moving">
            </div>
        </div>

        <div id="MusicPlayer" class="jokfm_plugin">
            <div>
                <span class="item previous_button"><i class="fa fa-backward"></i></span>
                <span class="item play_button"><i class="fa fa-play"></i></span>
                <span class="item stop_button"><i class="fa fa-stop"></i></span>
                <span class="item next_button"><i class="fa fa-forward"></i></span>
            </div>
            <div class="active_channel">Online Music</div>
        </div>

        <div id="Audios">
            <audio id="RollingAudio">
                <source src="~/Audio/DicesRolling.mp3" type="audio/mpeg" />
                <source src="~/Audio/DicesRolling.wav" type="audio/x-wav" />
            </audio>
            <audio id="MoveAudio">
                <source src="~/Audio/Wall.mp3" type="audio/mpeg" />
                <source src="~/Audio/Wall.wav" type="audio/x-wav" />
                <source src="~/Audio/Wall.webm" type="video/webm" />
            </audio>
            <audio id="PlayerNotificationAudio">
                <source src="~/Audio/PlayerNotification.mp3" type="audio/mpeg" />
                <source src="~/Audio/PlayerNotification.wav" type="audio/x-wav" />
            </audio>
        </div>
    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>