@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Backgammon</title>
    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    @if (ViewBag.IsMobileApp == true)
    {
        <style>
            #Player1 .music_player,
            #Player1 .jokfm_plugin,
            .player .details,
            #Addins,
            #ExitButton,
            #RightDocOpener,
            #RightDoc {
                display: none !important;
            }
        </style>
    }
    <script>
        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            gamemode: '1',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@Url.Action("Index", "Home")@*@ViewBag.ExitUrl*@',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True',
            connectUrl: '@System.Configuration.ConfigurationManager.AppSettings["ServerUrl"]'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="Game">
        <div class="center_title">
            <img src="~/Images/rowena_title.png" />
            <div class="description">8-Point Backgammon Game</div>
        </div>

        <div id="Board">
            <div class="side_container left">
                <div class="items_top">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(8 + 7 - i)" class="stone_collection">
                            <div class="triangle">
                            </div>
                        </div>
                    }
                </div>
                <div class="items_bottom">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(16 + i)" class="stone_collection">
                            <div class="triangle_rotated"></div>
                        </div>
                    }
                </div>
                <div class="dices current">
                    <div class="dice dice1">5</div>
                    <div class="dice dice2">5</div>
                    <div class="dice dice3">5</div>
                </div>
                <div class="move_outside">
                    Move out
                </div>
            </div>
            <div class="side_container right">
                <div class="items_top">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(7 - i)" class="stone_collection">
                            <div class="triangle"></div>
                        </div>
                    }
                </div>
                <div class="items_bottom">
                    @for (int i = 0; i < 8; i++)
                    {
                        <div data-id="@(24 + i)" class="stone_collection">
                            <div class="triangle_rotated"></div>
                        </div>
                    }
                </div>
                <div class="dices opponent">
                    <div class="dice dice1">4</div>
                    <div class="dice dice2">7</div>
                    <div class="dice dice3">3</div>
                </div>
            </div>
            <div class="player_killed_stones">
            </div>
            <div class="opponent_killed_stones">
            </div>
            <div class="stone mouse_drag_moving">
            </div>
        </div>
        <div id="Audios">
            <audio id="RollingAudio">
                <source src="~/Audio/DicesRolling.mp3" type="audio/mpeg" />
            </audio>
            <audio id="MoveAudio">
                <source src="~/Audio/Wall.mp3" type="audio/mpeg" />
                <source src="~/Audio/Wall.wav" type="audio/x-wav" />
                <source src="~/Audio/Wall.webm" type="video/webm" />
            </audio>
        </div>
    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>